<head>
    <style>
        .table{
            border: spacing 0;
            margin:1rem;
            background-color: #f5f5f5;
        }
        .table_row:nth-child(odd){
           background-color: #e5e5e544;
        }
        .table_cell{
           padding: 8px;
        }
    </style>
</head>
{% extends 'base.html' %}
{% block content %}
    <div>
        <table class="table">
            <tr class="table_header">
                {% for header in headings %}
                <th>{{header}}</th>
                {% endfor %}
                <!--  -->
                <th>Students</th>
                <!--  -->
                <th>Audit/Withdraw</th>
                <th>Assignments</th>
            </tr>
            {% for row in details %}
            <tr class="table_row">
                {% for cell in row %}
                <td class="table_cell">{{cell}}</td>
                {% endfor %}
                <!--  -->
                <td><form>
                    <button formaction="/courses/{{row[0]}}">See all Students</button>
                </form></td>
                <td><form>
                    <button formaction="/awrequest/{{row[0]}}">See all audit requests</button>
                </form></td>
                <td><form>
                        <button formaction="/add_assignment/{{row[0]}}">Add Assignment</button>
                </form></td>
                
                <!--  -->
                
            </tr>
            {% endfor %}
            </table>
    
            <form>
                <button formaction="/prof_id/{{user}}/password_change">Change Password</button>
            </form>
    </div>
{% endblock %}
