{% extends 'base.html' %}
{% block content %}
<div align="center">
    <!-- <h1>PDF Splitter</h1> -->
    <!-- <hr><br> -->
    <form action="/add_to_course" method="post" enctype="multipart/form-data">

        <input type="submit" value="add_to_course">
    </form>
    <form action="/add_course" method="post" enctype="multipart/form-data">

        <input type="submit" value="add_course">
    </form>
    <form action="/add_student" method="post" enctype="multipart/form-data">

        <input type="submit" value="add_student">
    </form>
    <form action="/delete_from_course" method="post" enctype="multipart/form-data">

        <input type="submit" value="delete_from_course">
    </form>
    <form action="/delete_course" method="post" enctype="multipart/form-data">

        <input type="submit" value="delete_course">
    </form>
    <form action="/delete_student" method="post" enctype="multipart/form-data">

        <input type="submit" value="delete_student">
    </form>
    <form action="/update_student" method="post" enctype="multipart/form-data">

        <input type="submit" value="update_student">
    </form>
    <form action="/update_ngu" method="post" enctype="multipart/form-data">

        <input type="submit" value="update_ngu_details">
    </form>
    <form action="/update_dues" method="post" enctype="multipart/form-data">

        <input type="submit" value="update_dues_details">
    </form>
    <form>
        <button formaction="/admin/gen_req">See all general requests</button>
    </form>
    <br><br><br><br><br><br>
    <form>
        <button formaction="/admin_id/{{user}}/password_change">Change Password</button>
    </form>
{% endblock %}
© 2021 GitHub, Inc.
