<head>
    <style>
        .table{
            border: spacing 0;
            margin:1rem;
            background-color: #f5f5f5;
        }
        .table_row:nth-child(odd){
           background-color: #e5e5e544;
        }
        .table_cell{
           padding: 8px;
        }
        .table_header{
            text-align: center;
        }
    </style>
</head>
{% extends 'base.html' %}
{% block content %}
    <div>
    <br>
    <table class="table">
    <tr class="table_header">
        {% for header in headings %}
        <th>{{header}}</th>
        {% endfor %}
    </tr>
    {% for row in details %}
    <tr class="table_row">
        {% for cell in row %}
        <td class="table_cell">{{cell}}</td>
        {% endfor %}   
        <td><form>
            <button formaction="/awrequest/success/{{row[0]}}/{{row[1]}}">Accept Request</button>
        </form></td> 
        
    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}