{% extends 'base.html' %}
{% block content %}
    <div>
    {% for row in details %}    
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
        </tr>
        <br>
    {% endfor %}
    <form action="/ngu" method="post" enctype="multipart/form-data">
    
    
        <input type="submit" value="Click here to know your NGU data">
    </form>
    </div>
{% endblock %}